@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drg-scrollbar::-webkit-scrollbar {
  z-index: -2;
  width: 20px;
}

.drg-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-800 my-2;
}

.drg-internal-scrollbar::-webkit-scrollbar-track {
  @apply !my-0;
}

.drg-scrollbar::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  @apply bg-drg-primary-500;
}

body {
  color: rgba(255, 255, 255, 0.87);
  @apply bg-gray-900;
  min-height: 100vh;
}

@layer utilities {
  .drg-gradient {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.04) 100%
    );
  }
}

.drg-framer {
  @apply border-drg-primary-500 border-t-2 border-b-2 drg-gradient;
}

.drg-title {
  font-family: "Danger Flight";
}

.drg-button {
  @apply px-10 py-3 bg-black hover:bg-drg-primary-600 text-white cursor-pointer transition-all duration-300 mx-2;
}

.drg-button-disabled {
  @apply text-slate-400 bg-black opacity-80 cursor-not-allowed hover:bg-gray-900;
}

.drg-select > option {
  @apply bg-gray-800 rounded-none border-0;
}

.drg-select > option:checked {
  @apply bg-gray-700 rounded-none border-0;
}

.emblems {
  background: url("/assets/promotion_emblems.webp") no-repeat;
  background-size: 330% 620%, cover;
  width: 30px;
  height: 30px;
}
@layer base {
  @font-face {
    font-family: heavitas;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Heavitas.ttf) format("truetype");
  }
  @font-face {
    font-family: "Danger Flight";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/dangerflight.ttf") format("truetype");
  }
}
